[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
werkzeug = "==2.1.2"
waitress = "*"
redis = "*"
Flask = "==2.1.2"
Flask-SQLAlchemy = "*"
Flask-Session = "*"
flask-restx = "*"
PyMySQL = "*"
Flask-Cache = "*"
flask-caching = "*"

[dev-packages]

[requires]
python_version = "3.8"
