APScheduler==3.6.3
boto3==1.13.1
botocore==1.16.1
click==7.1.2
docutils==0.15.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.9.5
localstack-client==0.23
MarkupSafe==1.1.1
python-dateutil==2.8.1
pytz==2020.1
s3transfer==0.3.3
six==1.14.0
tzlocal==2.0.0
urllib3==1.26.5
waitress==2.1.2
Werkzeug==2.2.3
